@model IEnumerable<Vin_de_la_france.Models.ArticlesClass>

@{
    ViewData["Title"] = "Liste des Vins";
}

<h1>Liste des Vins</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix Unitaire</th>
            <th>Quantité en Stock</th>
            <th>Famille</th>
            <th>Fournisseur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Name</td>
                <td>@article.UnitPrice €</td>
                <td>@article.QuantityStock</td>
                <td>@article.FamillesClass?.Name</td> <!-- Affichage de la Famille -->
                <td>@article.FournisseursClass?.Name</td> <!-- Affichage du Fournisseur -->
            </tr>
        }
    </tbody>
</table>
