@model IEnumerable<Vin_de_la_france_2.Models.ArticlesClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogue</h1>

<section class="cards">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <!-- Utilisez le bon contrôleur (ArticlesClasses) pour l'URL de l'image -->
            <img class="card-img-top" src="@Url.Action("GetArticleImage", "ArticlesClasses", new { id = item.Id })" alt="Image de l'article" width="200" height="200" />
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">
                    Famille: @Html.DisplayFor(modelItem => item.FamillesClass.Name) <br />
                    Fournisseur: @Html.DisplayFor(modelItem => item.FournisseursClass.Name) <br />
                    Prix: @Html.DisplayFor(modelItem => item.UnitPrice) € <br />
                    Stock: @Html.DisplayFor(modelItem => item.QuantityStock)
                </p>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Détails</a>
            </div>
        </div>
    }
</section>
